# You should change this URL!!
FORKED_URL=https://github.com/aws-samples/mitigating-the-impact-of-database-write-load-with-amazon-sqs.git
DB_USERNAME=
GITHUB_USERNAME=
GITHUB_TOKEN=
AWS_ACCESS_KEY=
AWS_SECRET_KEY=